body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    text-align: center;
    image-resolution: 250px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}


.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.image-text-container {
    margin-bottom: 20px;
}

.image-text-container img {
    max-width: 1200%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    color: #555;
    line-height: 1.6;
}